*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background: url('./img/luna.jpg') bottom center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.hkey {
    display: flex;
    justify-content: center;
}

.header {
    color: #ffd700;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 30px;
    /*margin-top: 60px;*/

}
h3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
    color:#ffd700;
    
    
}
.keys {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   /* margin: 1em;*/
    min-height: 100vh;
    color:white;
    align-items: center;
   gap: 28px;
   

 }

.key {
    border: .4rem solid #ffd700;
    border-radius: .5rem;
    margin: .1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.7s;
    
}

.playing {
    transform: scale(1.1);
    border-color: #9400d3; 
    box-shadow: 0 0 1rem #9400d3; 

} 

kbd {
    display: block;
    font-size: 3rem;
    width: auto;

}

.sound {
    font-size: 1.2rem;
   color: #00ff00;
}

